
        <a href="#!" class="col-sm-4"><< back</a><br/>
<div>
<br/>
    <form class="col-sm-4" ng-submit="onSubmit()">
        <div class="form-group">
        <label for="email">Email:</label>
        <input ng-model="email" type="email" class="form-control" id="email">
      </div>
        <div class="form-group">
        <label for="password">Password:</label>
        <input ng-model="password" type="password" class="form-control" id="password" placeholder="New password">
      </div>
      <div class="form-group">
        <label for="first_name">First name:</label>
        <input ng-model="first_name" type="text" class="form-control" id="first_name">
      </div>
        <div class="form-group">
        <label for="middle_name">Middle name:</label>
        <input ng-model="middle_name" type="text" class="form-control" id="middle_name">
      </div>
        <div class="form-group">
        <label for="last_name">Last name:</label>
        <input ng-model="last_name" type="text" class="form-control" id="last_name">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>