<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    {% if error %}
        Your credentials are wrong!
    {% endif %}
	<form action="/login" method="post">
        <dl>
            <dt>Email:</dt>
            <dd><input type="text" name="email"></dd>
            <dt>Password:</dt>
            <dd><input type="password" name="password"></dd>
        </dl>
        <input type="submit" value="Login">
	</form>
</body>
</html>